PROJECT_ID=qwiklabs-gcp-00-94397d478e88
REGION=us-central1
SERVICE=railaccess-ai
REPOSITORY=railaccess
IMAGE=railaccess-ai
VERTEX_LOCATION=global
GEMINI_MODEL=gemini-2.5-flash
RUNTIME_SERVICE_ACCOUNT=railaccess-runtime@qwiklabs-gcp-00-94397d478e88.iam.gserviceaccount.com
