PROJECT_ID=qwiklabs-gcp-00-94397d478e88
REGION=us-central1
SERVICE=for-rails
REPOSITORY=for-rails
IMAGE=for-rails
VERTEX_LOCATION=global
GEMINI_MODEL=gemini-2.5-flash
RUNTIME_SERVICE_ACCOUNT=for-rails-runtime@qwiklabs-gcp-00-94397d478e88.iam.gserviceaccount.com
